<div class="colorized-wrapper">
    <div class="wrapper-flex-justify">
        <p class="logo FontOverSized"> error 404</p>
        <br>
        <br>
        <br>
        <img style="width:200px"
            src="https://lh3.googleusercontent.com/proxy/OP-FlDAazNhDiOm9yi-783k0i3U7Uz2gwjtYabfninzM-ZEOK9704VbygjnNrXhVbspL5DXa9-PKL37ZwvR0lQ2TC4S-0ZnO-Sv_CEg3A6zbnAia">
        <p class="logo FontlogoStandardSize">feeling lost?</p>
        <button routerLink="" mat-stroked-button>back to home page
        </button>
    </div>
</div>