<div class="colorized-wrapper overflow-auto">
    <div class="d-flex align-items-start flex-column mt-4 md-5 w-100  " style="margin-left:0px">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            <mat-icon class="icon ml-cross" (click)="getback()">keyboard_backspace</mat-icon>
        </mat-icon>
        <h1 class="Text mt-5 ml-txt">Profile</h1>


        <div class="d-flex bd-highlight mt-5">
            <ol  *ngFor="let link of mintedByME">
                 {{ link.nftData.name }} 
                 {{ link.nftData.data }} 
             </ol>

        </div>
    </div>