<div class="colorized-wrapper overflow-auto ">
    <div class="d-flex align-items-start flex-column mt-5 w-100  " style="margin-left:0px">
        <button mat-icon-button aria-label="Example icon-button with a menu" routerLink="/main">
            <mat-icon class="icon ml-cross">close icon</mat-icon>
        </button>

        <p class="Text w-75 mt-4 ml-txt" style="margin-left:15vw">heres what we suggest</p>

        <div class="w-75 " style="margin-left:15vw" *ngFor="let menu of existentMenus">

            <mat-card class="card  " style="margin-bottom: 25px;" (click)=" seeFullMenu(menu._id)">
                <img style="width:100%" [src]="menu.imgSrc">
                <mat-card-header>
                    <div mat-card-avatar class=""></div>
                    <mat-card-title>{{menu.foodType}}</mat-card-title>
                    <mat-card-subtitle class=" w-75">{{menu.menuDescription}}</mat-card-subtitle>
                </mat-card-header>


                <mat-card-actions>
                    <button mat-button>Antes:{{menu.price}}€</button>
                    <button mat-button>Agora:{{menu.salePrice}}€</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>

    </div>
</div>