.colorized-wrapper{color:white}
.wrapper-flex-justify{justify-content:center; align-items:center; flex-direction:column;width:100vw;display:flex;z-index: 0;}
.menu{position:absolute;}

.identifier{color:#87FF65;text-decoration: none;}
.textToGlow:hover{font-weight: bold;}