<nav class="navbar justify-content-center"></nav>
<div class="colorized-wrapper align-items-center">
  <div class="mt-5 ml-5 w-100 text-center">
    <p>
      <span #textElement class="text FontlogoStandardSize"></span>
      <span #blinkElement class="text blink FontlogoStandardSize"></span>
    </p>
    <div style="display: block">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div *ngIf="introducted" class="mt-5 ml-5 w-100 text-center">
      <button
        class="buttonFood fontStandard"
        (click)="registerNft()"
        mat-stroked-button
      >
        AssociateNft
      </button>
      <p *ngIf="!!nftData">your nft: {{ nftData }}</p>
      <p>here it adds a fake nft to your acc(max 1 in this phase)</p>
      <button
        (click)="stakeNft()"
        class="buttonFood fontStandard"
        mat-stroked-button
      >
        Stake
      </button>
      <p>here it starts staking that nft</p>
    </div>
  </div>
</div>
s
