<div class="colorized-wrapper ">
    <button mat-icon-button aria-label="Example icon-button with a menu" routerLink="/menu-usr">
        <mat-icon class="icon mt-5 ml-cross">menu</mat-icon>
    </button>

    <div class="mt-6">
        <p class="Text" style="margin-left: 9%;"> What do you feel like eating today?</p>
        <br>
        <br>
        <div>
            <button class="buttonFood fontStandard" (click)="redirectH()" mat-stroked-button>healthy <img
                    style=" width: 60px;height: 60px;" src='../../assets/media/img/Salad 1.png'></button>
            <button class="buttonFood fontStandard " (click)="redirectU()" routerLink=" /local" mat-stroked-button>not
                so
                healthy <img style="width: 60px;height: 60px;" src='../../assets/media/img/Fries 1.png'></button>
        </div>
    </div>
</div>