<div class="colorized-wrapper ">
    <button class="menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
    <div class="wrapper-flex-justify">
        <p class="Text"> What do you feel like eating today?</p>
        <button mat-stroked-button>healthy<img style="width: 30px;height: 30px;"
                src='../../assets/media/img/Salad 1.png'></button>
        <button mat-stroked-button>not so healthy<img style="width: 30px;height: 30px;"
                src='../../assets/media/img/Fries 1.png'></button>
    </div>
</div>